@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body{
	font-family: 'Noto Sans Japanese', serif;
	background-color:#00bcd4;
	color:#ffffff;
	text-align: center;
	width: 100%;
	height: 100%;
}

div.line{
	width: 80%;
	height:1.5px;
	background-color:#ffffff;
	margin-left: 10%;
	margin-right: 10%;
	/*margin-left: 10%;*/
	margin-top: 5px;
	margin-bottom: 5px;
}

div.boldline{
	width: 90%;
	height: 4.5px;
	background-color: #ffffff;
	margin-left: 5%;
	margin-right: 5%;
	/*margin-left: 10%;*/
	margin-top: 10px;
	margin-bottom:10px;
}

a, a:hover, a:link{
	color:#ffffff;
	/*text-decoration: underline;*/
}

/*Buttonのstyle修正*/
#RandomImageViewButton:hover, #RandomImageViewButton:active, #RandomImageViewButton:focus,
#submituserinfo:hover, #submituserinfo:active, #submituserinfo:focus{
	color: #00bcd4;
	transition:all ease-in .5s;
}
#submituserinfo{
	font-size: 20px;
}

#twitterModal{
	width:auto;
	height:auto;
}

#About{
	background-image: url(images/aboutbg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 600px;
	/*opacity: 0.5;*/
}

/*背景画像透過のため*/
.TransparentMask{
	background: rgba(0, 188, 212, 0.7);
	height:100%;
}


#Navigation{
	font-size: 36px;
	font-family: 'Passion One', cursive;
}

.navigation-fixed {
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
}


#HeaderImage{
	text-align: center;
	/*width: 1000px;*/
	background-size:100%;
	margin-left:auto;
	margin-right:auto;
}

@media screen and (min-width: 800px) {
	#HeaderImage{width:800px;}
}

div.main .column{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom:20px;
}

.ui.menu .item{
	color:#ffffff;
	background-color:#00bcd4;
	padding-top: 20px;
	padding-bottom:20px;
}

.ui.menu .item a{
	color:#ffffff;
}

.ui.menu .item:hover a{
	color:#00bcd4;
	/*background-color: #ffffff;*/
}

.ui.menu .item:active{
	color:#00bcd4;
}

.ui.menu .item:hover{
	color:#00bcd4;
	background-color: #ffffff;

}

.column{
	border-width: 1px;
	border-color: #ffffff;
}

.thumbnail{
	list-style:none;
}

.thumbnail img:hover, .single-thumbnail img:hover, .zips img:hover{
	opacity: 0.5;
	transition:all ease-in .5s;
}

.zips img{
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	border-radius: 25%;
	width: 100%;
	height: 100%;
	max-width: 200px;
	max-height: 200px;
	background-color: #ffffff;
	position: relative;
}

.thumbnail img, .single-thumbnail img{
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	border-radius: 50%;
	width: 33%;
	height: 33%;
	max-width: 300px;
	max-height: 300px;
	background-color: #ffffff;
}

.zips-over{
  position: absolute;
  bottom: 30%;
  left: 0px;
  width:100%;
  color: #fff;
}

p.img-over-text{
  color:#ffffff;
  text-shadow: -1px 0 #00bcd4, 0 1px #00bcd4, 1px 0 #00bcd4, 0 -1px #00bcd4;
  font-size: 64px;
  font-family: 'Passion One', cursive;
  text-align: center;
  width: 100%;
}

div.cards img{
	width:100%;
	height:100%;
}

#Illust{
	margin-right: 10%;
	margin-left: 10%;
}

.ui.card, .ui.cards > .card{
	background: rgba(255,255,255,0);
	box-shadow: none;
}

.cards {
	padding-left: 3%;
	padding-right: 3%;
}

.cards .card{
	overflow: hidden;
	background-color: #ffffff;
	vertical-align: middle;
}

.cards img{
	background-color: #ffffff;
}

.ui.card > .image, .ui.cards > .card > .image{
	margin: 3% 3% 3% 3%;
	border-radius: 5%;
	border-style: solid;
	border-color: #ffffff;
	box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
}

.footer a{
	color:#ffffff;
}

.column .embed-tweets{
	padding-left: 5%;
	padding-right: 5%;
}

#LinkTable h3{
  position: relative;
  display: inline;
  text-decoration: none;
}

#BlogTable h3, #Illust h3{
	font-size: 96px;
	position: relative;
	display: inline;
	text-decoration: none;
	line-height: 0.8em;
	font-family: 'Passion One', cursive;
}

#LinkTable h3::after, #BlogTable h3::after, #Illust h3:after{
	content: '';
	position: absolute;
	margin-bottom: 0.2em;
	bottom: 0;
	left: 0;
	width:100%;
	height:1px;
	background-color:#ffffff;
	transform: scaleX(0);
	transition: all .4s ease;
}

#LinkTable h3:hover::after, #BlogTable h3:hover::after, #Illust h3:after{
  transform: scaleX(1);
}

#LinkTable img{
	border-style: solid;
	border-width: 0px;
	border-color: #ffffff;
}

.ui .form{
	color:#00bcd4;
}
form{
	color:#00bcd4;
}
.ui.form input[type="text"], .ui.form input[type="password"]{
	width: 30%;
	font-size: 28px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.ui.form .field > label{
	font-size: 36pt;
	font-family: 'Passion One', cursive;
	color:#ffffff;
}

/*長文のスタイル*/
p.sentence{
	margin-left: 20%;
	width: 60%;
	text-align: center;
}

/*引用のスタイル*/
blockquote{
	font-size: 24pt;
	text-shadow: 1px 1px 5px #ffffff;
	font-family: 'Noto Sans Japanese', serif;
}
blockquote::before{
	content:"“";
	font-size:64px;
	line-height:1em;
	font-family: 'Passion One', cursive;
}

blockquote::after{
	content:"”";
	font-size:64px;
	line-height:1em;
	font-family: 'Passion One', cursive;

}

h1{
	font-size:96px;
	line-height:1em;
	font-family: 'Passion One', cursive;
}

@media screen and (max-width: 800px) {
	#Navigation{
		font-size:16px;
	}
	.thumbnail img{
		width:80%;
		height:80%;
	}
	.single-thumbnail img{
		width:20%;
		height:20%;
	}
	blockquote{
		font-size: 24px;
	}
	p.img-over-text{
		font-size: 32px;
	}
}
