
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


body{
	font-family: 'Noto Sans Japanese', serif;
	background-color:#00bcd4;
	color:#ffffff;	
	text-align: center;
	width: 100%;
	height: 100%;
}


div.line{
	width:80%;
	height:1.5px;
	background-color:#ffffff;
	margin-left: 10%;
	margin-right: 10%;
	/*margin-left: 10%;*/
	margin-top: 5px;
	margin-bottom: 5px;
}

div.boldline{
	width:90%;
	height:4.5px;
	background-color:#ffffff;
	margin-left: 5%;
	margin-right: 5%;
	/*margin-left: 10%;*/
	margin-top: 10px;
	margin-bottom:10px;
}
/*
.header{
	background-color:#000000;
}
*/

/*Buttonのstyle修正*/
.ui.inverted.button:hover, .ui.inverted.button:active, .ui.inverted.button:focus{
	color: #00bcd4;
	transition:all ease-in .5s;
}

#About{
	background-image: url(images/aboutbg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	/*opacity: 0.5;*/
}

/*背景画像透過のため*/

.TransparentMask{
	background: rgba(0, 188, 212, 0.7);
	height:100%;
}


#Navigation{
	font-size: 24px;
}
@media screen and (max-width: 800px) {
	#Navigation{font-size:60%;}
}

#HeaderImage{
	text-align: center;
	/*width: 1000px;*/
	background-size:100%;
	margin-left:auto;
	margin-right:auto;
}

@media screen and (min-width: 800px) {
	#HeaderImage{width:800px;}
}

div.main .column{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom:20px;
}

.ui.menu .item{
	color:#ffffff;
	background-color:#00bcd4;
	padding-top: 20px;
	padding-bottom:20px;
}



.ui.menu .item a{
	color:#ffffff;
}

.ui.menu .item:hover a{
	color:#00bcd4;
	/*background-color: #ffffff;*/
}



.ui.menu .item:active{
	color:#00bcd4;
}

.ui.menu .item:hover{
	color:#00bcd4;
	background-color: #ffffff;

}



.column{
	border-width: 1px;
	border-color: #ffffff;
}

.thumbnail{
	list-style:none;
}

.thumbnail img:hover, .single-thumbnail img:hover{
	opacity:0.5;
	transition:all ease-in .5s;
}

.thumbnail img, .single-thumbnail img{
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	border-radius: 50%;
	width:200px;
	height:200px;
	background-color: #ffffff;
}


@media screen and (max-width: 800px) {
	.thumbnail img{width:80%; height:80%;}
	.single-thumbnail img{width:20%; height:20%;}
}

div.cards img{
	width:100%;
	height:100%;
}

#Illust{
	margin-right: 10%;
	margin-left: 10%;
}


i.ellipsis{
	padding-top: 100px;
	font-size:80px;
}
.ui.card, .ui.cards > .card{
	background: #00bcd4;
	box-shadow: none;
}

.ui.card > .image, .ui.cards > .card > .image{
	border-radius: 5%;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
}

.footer a{
	color:#ffffff;
}