body{
	background-color:#00bcd4;
	color:#ffffff;	
	text-align: center;
}

div.line{
	width:100%;
	height:1.5px;
	background-color:#ffffff;
	margin-top: 5px;
	margin-bottom: 5px;
}

.ui.menu .item{
	color:#ffffff;
	background-color:#00bcd4;
}
.ui.menu .item.active{
	color:#00bcd4;
}

.ui.menu .item.active:hover{
	color:#007888;
}